<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>tests</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <clover outputFile=".phpunit.cache/coverage/clover.xml"/>
            <html outputDirectory=".phpunit.cache/coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="emecef-core">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
